<ion-view view-title="Home" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
	<ion-content class="has-header padding">
		<ion-list>
			<div class="list card">
				<ion-item class="item-icon-left item-text-wrap" href="#/menu/calc1">
					<i class="icon icon-calculator"></i>
					<h2>Make a calculation</h2>
				</ion-item>
			</div>
			<div class="list card">
				<ion-item class="item-icon-left item-text-wrap" href="#">
					<i class="icon icon-ruler"></i>
					<h2>Calculate the thickness of a material</h2>
				</ion-item>
			</div>
			<div class="list card">
				<ion-item class="item-icon-left item-text-wrap" href="#">
					<i class="icon icon-circle-with-plus"></i>
					<h2>Add a material preset</h2>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>